@font-face {
  font-family: nue;
  src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: nue;
  font-weight: 400;
  src: url(./NeueHaasDisplayLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nue;
}
html,
body {
  height: 100%;
  width: 100%;
}
#loder {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #000;
  top: 0;
  z-index: 999;
  transition: all ease 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loder h1 {
  color: transparent;
  font-size: 4vw;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: loder;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loder h1:nth-child(2) {
  animation-delay: 2s;
}
#loder h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes loder {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#main {
  position: relative;
  z-index: 10;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.619);
  overflow: hidden;
  position: relative;
}
.nav-part2 h4::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -100%;
  transition: all ease 0.4s;
}
.nav-part2 h4:hover::after {
  bottom: -0;
  border: none;
  border-radius: 50px;
}
.nav-part2 h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.619);
  position: relative;
  z-index: 9;
}
.nav-part2 h4:hover a {
  color: #fff;
}
nav h3 {
  display: none;
}
.center {
  height: 65vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 1vw;
}
.left {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.center h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
  position: relative;
}
video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 5vw;
}
#hero {
  position: absolute;
  height: 36vw;
  width: 46vw;
  right: 0;
  top: 75vh;
}
#hero-1 {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #fe330a;
  filter: blur(20px);
  position: absolute;
  animation-name: anime1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#hero-2 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(20px);
  background-color: #fe330a;
  position: absolute;
  animation-name: anime1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#hero-3 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(20px);
  background-color: #fe330a;
  position: absolute;
  animation-name: anime1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime1 {
  form {
    transform: translate(-10%, 10%);
  }
  to {
    transform: translate(10%, -10%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
#container {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-text h1 {
  font-size: 8.75em;
  display: inline-block;
}
#gola {
  height: 80px;
  width: 80px;
  background-color: #fe330a;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page2-bottom {
  height: 80vh;
  width: 100%;
  padding: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
#page2-bottom h1 {
  font-size: 4vw;
  width: 50%;
  line-height: 4vw;
}
#bottom-part2 {
  width: 20%;
}
#bottom-part2 img {
  border-radius: 15px;
  width: 100%;
}
#bottom-part2 p {
  margin-top: 2vw;
}
#goey {
  height: 30vw;
  width: 30vw;
  position: absolute;
  background: linear-gradient(to top right, #ce2503, #ff6201);
  border-radius: 50%;
  top: 55%;
  left: 20%;
  filter: blur(20px);
  overflow: hidden;
  animation-name: goey;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes goey {
  from {
    filter: blur(20%);
    transform: translate(-10%, 10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(10%, -10%) skew(-12deg);
  }
}

#page-3 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
}
#elem {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid rgba(97, 94, 94, 0.833);
  /* background-color: orange; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0vw 3vw;
  overflow: hidden;
}
#elem h2 {
  font-size: 2vw;
  position: relative;
  z-index: 9;
}

#over {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ff9831;
  top: -100%;
  left: 0;
  transition: all ease 0.5s;
}
#elem:hover #over {
  top: 0;
}
#fixed-img {
  height: 30vw;
  width: 25vw;
  background-color: blue;
  position: fixed;
  z-index: 99;
  border-radius: 10px;
  top: 23%;
  left: 50%;
  display: none;
}
.abc {
  height: 1300px;
  width: 100%;
  background-color: #efeae3;
}

#page-4 {
  height: 300px;
  width: 100%;
  padding: 0 3vw;
  background: #efeae3;
}
#back {
  background-color: black;
  border-radius: 50px;
  display: flex;
  color: #fff;
}

#right {
  margin-top: 10vw;
  margin-left: 4vw;
}
#right p {
  margin-top: 3vw;
  font-size: 2vw;
  margin-right: 10px;
}
#page-5 {
  height: 100vh;
  width: 100%;
}

#footer {
  height: 1000px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: linear-gradient(to bottom, #fe330a, #000000);

  color: #fff;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
}
#footer h1 {
  font-size: 25vw;
  margin-left: 25px;
}
#footer-div {
  height: 8vw;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
#footer-div h1 {
  font-size: 30px;
}

#footer-div #work {
  margin-left: 5vw;
}

#email h4 {
  font-size: 20px;
  margin-right: 3rem;
}
#email input {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  border-bottom: 0.5px solid grey;
}

#last {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#last h4 {
  font-size: 1rem;
  letter-spacing: 0.1vw;
}
#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000074;
  z-index: 99;
  position: fixed;
  top: -100%;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #efeae3;

    padding: 0 5vw;
  }
  nav {
    padding: 8vw 0vw;
    width: 100%;
  }

  nav img {
    height: 10vw;
  }
  .nav-part2 {
    display: none;
  }
  .center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 1vw;
  }
  .left {
    width: 80%;
    font-size: 5.8vw;
    line-height: 8vw;
    font-weight: 900;
  }
  .center h1 {
    top: -60%;
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
    position: relative;
  }
  video {
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 5vw;
  }
  #hero {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 75vh;
  }
  #hero-1 {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #fe330a;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #hero-2 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: #fe330a;
    position: absolute;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #hero-3 {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: #fe330a;
    position: absolute;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #page2 {
    min-height: 100vh;
    width: 100;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #moving-text {
    white-space: nowrap;
    overflow-x: auto;
  }
  #moving-text::-webkit-scrollbar {
    display: none;
  }
  #container {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #moving-text h1 {
    font-size: 2em;
    display: inline-block;
  }
  #gola {
    height: 20px;
    width: 20px;
    background-color: #fe330a;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
  }
  #page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 9;
  }
  #page2-bottom h1 {
    font-size: 7vw;
    width: 100%;
    line-height: 6.7vw;
    /* margin-top: -20vh; */
  }
  #bottom-part2 {
    width: 100%;
  }
  #bottom-part2 img {
    border-radius: 15px;
    width: 100%;
    height: 40vw;
  }
  #bottom-part2 p {
    margin-top: 2vw;

    width: 100%;
  }
  #goey {
    height: 30vw;
    width: 30vw;
    position: absolute;
    background: linear-gradient(to top right, #ce2503, #ff6201);
    border-radius: 50%;
    top: 55%;
    left: 20%;
    filter: blur(20px);
    overflow: hidden;
    animation-name: goey;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  #page-3 {
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
  }
  #elem {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(97, 94, 94, 0.833);
    /* background-color: orange; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 0vw 3vw;
    overflow: hidden;
  }
  #elem h2 {
    font-size: 4vw;
    position: relative;
    z-index: 9;
  }

  #over {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ff9831;
    top: -100%;
    left: 0;
    transition: all ease 0.5s;
  }
  #elem:hover #over {
    top: 0;
  }
  #fixed-img {
    height: 60vw;
    width: 45vw;
    background-color: blue;
    position: fixed;
    z-index: 99;
    border-radius: 10px;
    top: 23%;
    left: 50%;
    display: none;
  }
  .abc {
    height: 600px;
    width: 100%;
    background-color: #efeae3;
  }

  #page-4 {
    height: 300px;
    width: 100%;
    padding: 0 3vw;
    background: #efeae3;
  }
  #back {
    /* background-color: black; */
    border-radius: 50px;
    display: flex;
    color: #fff;
    margin-top: -100px;
  }

  #back img {
    height: 500px;
    width: 60vw;
  }

  #right {
    margin-top: 10vw;
    margin-left: 4vw;
  }
  #right p {
    margin-top: 3vw;
    font-size: 3.5vw;
    margin-right: 10px;
  }
  #footer h1 {
    font-size: 25vw;
    margin-left: 15px;
  }
  #footer-div {
    height: 8vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50vh;
  }
  #footer-div h1 {
    font-size: 20px;
    line-height: 10vh;
  }

  #footer-div #work {
    margin-left: 5vw;
  }

  #email h4 {
    display: none;
  }
  #email input {
    display: none;
  }

  #last h4 {
    display: none;
  }
}
